* {
    margin: 0;
    padding: 0;
    font-size: 24px;
    overflow: hidden;
}

body > div {
    height: 100%;
    width: 100%;
}

.loading {
    font-size: 28px;
    color: white;
    text-align: center;
    background: #000;
    position: relative;
    display: none;
}

.loading .load {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    /*border: 1px solid #00ccff;*/
}

.loading .progress {
    margin-top: 20px;
}

.main {
    display: none;
}

.main > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.main .active {
    display: block;
}
.main  .first{
    background: #fcc502;
}
.main .start{
    background: url("../img/bg2.png") no-repeat;
    background-size: 100% 100%;

}
.main .title {
    position: relative;
    width: 100%;
    height: 100%;
}

.main .title p, .label p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 80px;
    font-weight: bold;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
}

.start .btn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 250px;
    height: 78px;
    margin-left: -125px;
    border: 1px solid #00ccff;
    text-align: center;
    line-height: 78px;
}

.main .choose {
    position: absolute;
    bottom: 5%;
    width: 100%;
    height: 98px;
    padding: 0 8%;
    box-sizing: border-box;
}

.choose a {
    display: inline-block;
    width: 251px;
    height: 98px;
    text-align: center;
    line-height: 80px;
}    

.choose a:first-child {
    margin-right: 5%;
}
.poster {
    /*background: red;*/
    background: #404fa2;
    display: none;
}

.label_img {
    width: 640px;
    height: 740px;
    /*background: url(img/sq/q01r.png) no-repeat 0 0;*/
    -webkit-animation: stepNext 1s steps(1) 0s infinite normal;
}

@keyframes stepNext {
    50% {
        background-position: 100% 0;
    }
}

.label {
    width: 100%;
    height: calc(100% - 740px);
    position: relative;
}

.poster .label .label_name {
    font-size: 50px;
    color: white;
    top: 30%;
}

.poster .label .play {
    margin-top: 60px;
}

.poster .label .play a {
    color: white;
    font-size: 30px;
}

.wei {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
}

.wei button {
    display: block;
    width: 100%;
    height: 70px;
}