<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webpage/chphone/cms/public/js/resetpage.js"></script>
    <style>
        div{
            width:200px;
            height:200px;
            border:1px solid red;
            margin-top: 300px;
            margin-left:200px;
        }
        p{
            width:100px;
            height:60px;
            background: #cccc77;
        }
        span{
            text-align: center;
            border:1px solid #000000;
        }
    </style>
</head>
<body>
<div>
    <p><span>600</span></p>
</div>
</body>
</html>