<div class="pageContent">
	<form method="post" action="/index.php/Admin/Cms/Magazine/update/navTabId/classID{$vo.classID}/callbackType/closeCurrent"    class="pageForm required-validate" 
	onsubmit="return iframeCallback(this, navTabAjaxDone);">
	<?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
	<input type="hidden" name="id" value="{$vo.id}" /> 
	<input type="hidden" name="formstatus" value="{$formstatus}" />
	<div class="pageFormContent nowrap"   layoutH="97"> 
		<dl>
			<dt>标题：</dt>
			<dd><input type="text" class="required"  value="{$vo.title}" style="width:350px"  name="title"/></dd> 
		</dl> 
		<dl>
			<dt>期数（数字）：</dt>
			<dd><input type="text"   style="width:350px" value="{$vo.phase}"  name="phase"/></dd> 
		</dl>

		<dl>
			<dt>阅读连接：</dt>
			<dd><input type="text"   style="width:350px" value="{$vo.outlinks}" name="outlinks"/></dd> 
		</dl>
		<dl>
			<dt>下载连接：</dt>
			<dd><input type="text"   style="width:350px" value="{$vo.download}" name="download"/></dd> 
		</dl>
		<dl>
			<dt>点击量：</dt>
			<dd><input type="text"   style="width:350px" value="{$vo.hits}" name="hits"/></dd> 
		</dl>
		<dl>
			<dt>简介：</dt>
			<dd><textarea name="Intro" cols="55"  class="required"  style="height:80px" rows="5">{$vo.Intro}</textarea></dd> 
		</dl>  
		<dl>
			<dt>缩略图：</dt> 
			<dd>
				<input name="upload" type="file" />
				<if condition="$vo['attachment'] neq ''">
					<a href="/Upload{$vo.attachpath}{$vo.attachment}" target="_blank"><img src="/Upload{$vo.attachpath}thumb_{$vo.attachment}" alt="" style="height:20px;"></a>
				</if>
			</dd>
		</dl> 
		<dl>
			<dt>多图上传：</dt>
			<dd></dd> 
		</dl>

		<dl>
			<dt>置顶：</dt>
			<dd><input type="checkbox" <eq name="vo['Indexfirst']" value="1">checked</eq>    name="Indexfirst"/></dd> 
		</dl>
		<dl>
			<dt>状态：</dt> 
			<dd><input type="radio" name="status" value="2"  <eq name="vo['status']" value="2">checked</eq> />暂存 
				<input type="radio" name="status" value="1"   <eq name="vo['status']" value="1">checked</eq> />提交 
			</dd> 
		</dl>

		<dl>
			提示：标注*的项目为必填项目。
		</dl>

	</div>

	<div class="formBar" >
		<ul style="float:left">
			<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li><li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
			<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
		</ul>
	</div>
</form>
</div>