<include file="Base:Public:pagerForm1" />
<div class="page">
	<div class="pageHeader">
		<form onsubmit="return navTabSearch(this);" action="/index.php/Admin/Base/Class/index" method="post">
			<input type="hidden" name="pageNum" value="1"/>
			<input type="hidden" name="formstatus" value="{$formstatus}" />
		</form>
	</div>
	
	<div class="pageContent">
		<div class="panelBar">
			<ul class="toolBar">
				<if condition="$Think.session.adminuser.username eq 'developer'"><li><a class="add" href="/index.php/Admin/Base/Class/add/language/{$_REQUEST.language}/pid/0" target="dialog" mask="true" width="600" height="500"><span>新增栏目</span></a></li> </if>
			</ul>
		</div>

		<table class="list" width="100%" layoutH="116">
			<thead>
			<tr>
				<th width="5%">编号</th>
				<th width="10%">栏目名称</th>
				<th width="10%">后台栏目地址</th> 
				<th width="15%">创建时间</th> 
				<if condition="$Think.session.adminuser.username eq 'developer'"><th width="30%">操作</th></if>
				
			</tr>
			</thead>
			<tbody>
			<volist id="vo" name="lang">
				<tr target="sid_user" rel="{$vo['id']}">
					<td>{$vo['id']}</td>
					
					<td><php>
                        for($i=0;$i<$vo['count'];$i++){
                        echo '|—';
                        }</php> 
						{$vo.name}</td>
					
					<td>{$vo['url']}</td> 
					<td>{$vo['writetime']|date="Y-m-d",###}</td> 
					<if condition="$Think.session.adminuser.username eq 'developer'"><td>
                      <a class="edit" href="/index.php/Admin/Base/Class/edit/id/{$vo['id']}/language/{$_REQUEST.language}" target="dialog" mask="true" width="500" height="400"><span>编辑</span></a>&nbsp;&nbsp; 
					  <a class="edit" href="/index.php/Admin/Base/Class/add/language/{$_REQUEST.language}/pid/{$vo.id}/name/{$vo.name}" target="dialog" mask="true" width="600" height="500"><span>添加子栏目</span></a>&nbsp;&nbsp;  
                      <a class="delete" href="/index.php/Admin/Base/Class/delete/id/{$vo['id']}/navTabId/listzimodule" target="ajaxTodo" title="你确定要删除吗？" ><span>删除</span></a>
                    </td></if>
				</tr>
			</volist>
			</tbody>
		</table>

		<!-- <div class="panelBar">
			<div class="pages">
				<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
				<option value="10" {if condition="$numPerPage eq 10"}selected{/if}>10</option>
				<option value="15" {if condition="$numPerPage eq 15"}selected{/if}>15</option>
				<option value="20" {if condition="$numPerPage eq 20"}selected{/if}>20</option>
				<option value="25" {if condition="$numPerPage eq 25"}selected{/if}>25</option>
				<option value="30" {if condition="$numPerPage eq 30"}selected{/if}>30</option>
			</select>
				<span>共{$totalCount}条</span>
			</div>
			<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
		</div>  -->
	</div> 
</div>

