* {
    margin: 0;
    padding: 0
}

@font-face {
    font-family: Xiao;
    src: url('xiao.TTF');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Da;
    src: url('da.TTF');
    font-weight: normal;
    font-style: normal
}

html, body {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: 'Xiao';
    color: white;
    font-size: 26px;
}

body > div {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0
}

.progress {
    position: absolute;
    top: 80%;
    left: 70%;
    font-size: 28px
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.resize {
    position: absolute;
    top: 77.53%;
    left: 50%;
    width: 73px;
    margin-left: -36.5px;
    animation: dong 1s linear infinite;
    -webkit-animation: dong 1s linear infinite;
    z-index: 11;
    display: none
}

.music {
    background: url(../images/musicicon.png) no-repeat;
    width: 42px;
    height: 43px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
    display: none
}

.music-k {
    animation: xuanzhuan 5s infinite linear
}

@keyframes xuanzhuan {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes xuanzhuan {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
@keyframes dong {
    0%, 30% {
        opacity: 0;
        transform: translate(0, 10px);
    }
    60% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, -8px);
    }
}

@-webkit-keyframes dong {
    0%, 30% {
        opacity: 0;
        transform: translate(0, 10px);
    }
    60% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, -8px);
    }
}
@keyframes show {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes show {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes xia {
    0% {
        -webkit-transform: translate(-50%, 50%);
        opacity: 0
    }
    100% {
        -webkit-transform: translate(-50%, 0);
        opacity: 1
    }
}

@-webkit-keyframes xia {
    0% {
        -webkit-transform: translate(-50%, 50%);
        opacity: 0
    }
    100% {
        -webkit-transform: translate(-50%, 0);
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        opacity: 0
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes zoomIn {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        opacity: 0
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1
    }
}

input,.liuyan li,.create-hb p,.btn{
    font-family: Xiao;
    font-size: 26px;
    letter-spacing: 2px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 26px;
    color: white;
    text-align: center;
    font-family: Xiao
}

input:-moz-placeholder, textarea:-moz-placeholder {
    font-size: 26px;
    color: white;
    text-align: center;
    font-family: Xiao
}

input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 26px;
    color: white;
    text-align: center;
    font-family: Xiao
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 26px;
    color: white;
    text-align: center;
    font-family: Xiao
}

.content::-webkit-input-placeholder {
    text-align: left
}

.content:-moz-placeholder, textarea:-moz-placeholder {
    text-align: left
}

.content::-moz-placeholder, textarea::-moz-placeholder {
    text-align: left
}

.content:-ms-input-placeholder, textarea:-ms-input-placeholder {
    text-align: left
}

.name::-webkit-input-placeholder {
    font-size: 51px;
    text-align: left;
    font-family: Da
}

.name:-moz-placeholder, textarea:-moz-placeholder {
    font-size: 51px;
    text-align: left;
    font-family: Da
}

.name::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 51px;
    text-align: left;
    font-family: Da
}

.name:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 51px;
    text-align: left;
    font-family: Da
}

input[type=button], input[type=submit], input[type=file], button, input {
    cursor: pointer;
    -webkit-appearance: none
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    display: inline-block
}

header, .main {
    width: 100%;
    height: 100%;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

header {
    background: url("../images/bg.png") no-repeat;
    background-size: 100% 100%
}

.loading {
    top: 83.91%
}

header img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0)
}

.xin {
    top: 0
}

.ren {
    top: 580px
}

.load {
    top: 88%
}

.logo {
    bottom: 2.73%
}

.p2-title, .p2-zi, .p3-title, .p3-zi {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.p2-title, .p3-title {
    top: 11.28%;
}

.p2-logo {
    position: absolute;
    left: 75px;
    bottom: 5.8%
}

.qiu {
    position: absolute;
    right: 0;
    bottom: 0
}

.click img {
    opacity: 0
}

.main {
    display: none
}

.p2-zi {
    top: 34%
}

.p3-zi {
    top: 33.58%
}

.click {
    position: absolute;
    left: 130px;
    top: 32.17%
}

.click img {
    position: relative;
    display: inline-block;
    margin: 0
}

.click .hz-t, .click .ar-t {
    margin: 22px 0
}

.click .zdy {
    margin: 22px 26px
}

.click .fm-t, .click .py-t {
    margin: 0 26px
}

.click .ts {
    margin: 76px 146px 0
}

.liuyan, .create-hb {
    display: none;
    width: 100vw;
    height: 100vh
}

.bg {
    width: 750px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0
}

.liuyan ul {
    position: absolute;
    left: 90px;
    top: 32.17%;
    display: none
}

.liuyan .active {
    display: block
}

.liuyan li {
    list-style: none;
    width: 575px;
    height: 70px;
    margin-bottom: 63px;
    background: #f5aa97;
    border-radius: 10px;
    line-height: 70px;
    text-align: center
}

.btn {
    width: 222px;
    height: 55px;
    background: #f5aa97;
    line-height: 55px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    font-weight: normal
}

.reset {
    width: 100px;
    left: 100px
}

.edit {
    display: none;
    left: 266px;
    bottom: 20%
}

.ipt {
    display: inline-block;
    text-decoration: none;
    border: 0;
    color: white;
    font-size: 26px;
    text-align: center;
    border-bottom: 3px solid white;
    outline: 0
}

.zdy-ipt {
    width: 100%;
    height: 55px;
    background: #f5aa97;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.hb-h, .hb-liuyan, #canvas {
    position: absolute;
    left: 76px
}

.hb-h, #canvas {
    top: 5.55%;
    width: 601px;
    height: 752px
}

#canvas {
    width: 601px;
    height: 752px;
    display: none;
    box-sizing: border-box;
    background: #fff;
    border: 2px solid #fff
}

.upload {
    position: absolute;
    left: 50%;
    margin-left: -111px;
    width: 222px;
    top: 58%;
}

.tubiao {
    position: absolute;
    left: 620px;
    top: 7.46%;
    display: none
}

.tubiao img {
    display: block;
    margin-bottom: 20px
}

.photo {
    width:80px;
    height:80px;
    margin-left:71px;
    margin-bottom: 26px
}

.input-upload {
    position: absolute;
    left: 71px;
    bottom: 26px;
    width:80px;
    height:80px;
    display: block;
    opacity: 0
}

.upload .photo, .upload .save {
    display: block
}

.upload .save-1 {
    display: none
}

.hb-liuyan {
    top: 72.06%
}

.hb-liuyan .name {
    width: 240px;
    font-size: 51px;
    background: transparent;
    font-family: Da;
    margin-bottom: 44px;
    text-align: left
}

.hb-liuyan p {
    line-height: 50px;
    font-size: 30px
}

.talk {
    display: none
}

.zdy-talk input {
    width: 400px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #fff;
    background: transparent;
    text-align: left;
    font-size: 30px
}

.haibao {
    display: none;
    width: 100%;
    height: 100%
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .xin {
        top: 10.2%
    }

    .ren {
        top: calc(600px + 10.2%)
    }

    .upload {
        top: 49%
    }

    .hb-liuyan {
        top: 62%
    }
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}