<include file="Mcenter:Public:pagerForm" />
<div class="page">
    <div class="pageContent">
        <div class="panelBar">
            <ul class="toolBar">
                <if condition="($lie.canadd eq 1) OR ($Think.session.adminuser.username eq 'developer') OR ($Think.session.adminuser.username eq 'admin')">
                    <li><a class="add" title="将数据导出为Excel表格" href="/index.php/Admin/Mcenter/Source/excel"> <span>导出Excel</span></a></li>
                </if>
                <if condition="($lie.candel eq 1) OR ($Think.session.adminuser.username eq 'developer') OR ($Think.session.adminuser.username eq 'admin')">
                    <li><a title="确实要删除这些记录吗?" target="selectedTodo" rel="id" postType="string" href="/index.php/Admin/Mcenter/Source/delete" class="delete"><span>批量删除</span></a></li>
                </if>
            </ul>
        </div>

        <table class="list" width="100%" layoutH="116">
            <thead>
            <tr>
                <th width="5%"><input type="checkbox"  group="id" class="checkboxCtrl"></th>
                <th width="5%">编号</th>
                <th width="15%">来源</th>
                <th width="20%">报名时间</th>
            </tr>
            </thead>
            <tbody>
            <volist id="vo" name="list">
                <tr target="sid_user" rel="{$vo['id']}">
                    <td><input name="id" value="{$vo.id}" type="checkbox"></td>
                    <td class="{$vo.id}">{$vo['id']}</td>
                    <td>{$vo['source']}</td>
                    <td>{$vo['time']|date="Y-m-d H:i:s",###}</td>
                </tr>
            </volist>
            </tbody>
        </table>

        <div class="panelBar">
            <div class="pages">
                <span>显示</span>
                <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                    <option value="10" <if condition="$numPerPage eq 10">selected</if> >10</option>
                    <option value="15" <if condition="$numPerPage eq 15">selected</if> >15</option>
                    <option value="20" <if condition="$numPerPage eq 20">selected</if> >20</option>
                    <option value="25" <if condition="$numPerPage eq 25">selected</if> >25</option>
                    <option value="30" <if condition="$numPerPage eq 30">selected</if> >30</option>
                </select>
                <span>共{$totalCount}条</span>
            </div>
            <div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
        </div>
    </div>
</div>