<div class="pageContent">
	<form method="post" action="/index.php/Admin/Base/Website/update/navTabId/listwebsite/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);">
		<?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="id" value="{$vo.id}"/>
		<input type="hidden" name="formstatus" value="{$formstatus}" />
		<div class="pageFormContent" layoutH="60">
			<dl>
				<dt>站点名称：</dt>
				<dd><input type="text" class="required" value="{$vo.name}" style="width:100%" name="name"/></dd>
			</dl>
			<dl>
				<dt>网站title：</dt>
				<dd><input type="text" class="required" value="{$vo.title}"  style="width:100%" name="title"/></dd>
			</dl>
			<dl>
				<dt>网页关键字：</dt>
				<dd><input type="text" class="required" value="{$vo.keys}"  style="width:100%" name="keys"/></dd>
			</dl>
			<dl>
				<dt>网站描述：</dt>
				<dd><input type="text" class="required" value="{$vo.description}"  style="width:100%" name="description"/></dd>
			</dl>  
			<dl>
				<dt>版权信息：</dt>
				<dd><input type="text" class="required" value="{$vo.copyright}"  style="width:100%" name="copyright"/></dd>
			</dl>
			<dl>
				<dt>ICP备案：</dt>
				<dd><input type="text" class="required" value="{$vo.ICP}"  style="width:100%" name="ICP"/></dd>
			</dl>
			<dl>
				<dt>静态文件目录：</dt>
				<dd><input type="text" class="required" value="{$vo.spath}"  style="width:100%" name="spath"/></dd>
			</dl> 
			<dl>
				<dt>网址：</dt>
				<dd><input type="text" class="required" value="{$vo.www}"  style="width:100%" name="www"/></dd>
			</dl> 
			<dl>
			提示：标注*的项目为必填项目。
			</dl>
			
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

