<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content=""/>
    <meta name="Keywords" content="{:C(SEOKEYWORDS)}"/>
    <meta name="Description" content="{:C(SEODESCRIPTION)}"/>
    <meta http-equiv="refresh" content="0;url=/webpage/chphone/cms/index/index.php"/>
    <title>{:C(SITENAME)}</title>
</head>

<body>
</body>
</html>
