@charset "utf-8";
/* CSS Document */
 
/*头部*/
.index_top{
	border-top:5px solid #1a1a1a;
	text-align:center;
	border-bottom:1px solid #d7d7d7;
}
	.index_top a{
		height:41px;
		float:right;
		line-height:41px;
		font-weight:800;
		 margin-left:20px;
		font-family:"宋体";
	}
	.index_top .vip{
		width:89px;
		height:41px;
		background-color:#1a1a1a;
		color:#f4f4f4;
		font-size:16px;
		letter-spacing:0px;
		font-weight:800;
		font-family:"微软雅黑";
	}
	.index_banner{
		font-family:"宋体";
		font-size:12px;
	}
	.index_banner_img{
		display:block;
	}
	.index_banner_img img{
		float:left;
	}
	.index_query{
		width:289px;
		height:31px;
		border:1px solid #d7d7d7;
		float:left;
		margin-top:36px;
		margin-left:71px;
	}
	.index_query input{
		width:250px;
		height:12px;
		border:none;
		float:left;
		padding:10px 0 9px 7px;
		display:block;
	}
	.index_query .index_query_sub{
		width:32px;
		height:31px;
		background:url(/Application/Ch/View/Mcenter/Public/images/query.jpg) no-repeat; display:block; float:left;
	}
	.index_gouwuche{
		width:75px;
		height:31px;
		margin-top:36px;
		margin-left:3px;
		background:url(/Application/Ch/View/Mcenter/Public/images/gouwuche1.jpg) no-repeat;
		padding-left:30px;
		display:block;
		line-height:31px;
		border:1px solid #dbdbdb;
	}
.menu{
	width:100%;
	height:55px;
	background:#1a1a1a;
}
	.menu li{
		float:left;
		font-size:16px;
		font-family:"微软雅黑";
	}
	.menu a{
		display:block;
		width:102px;
		height:55px;
		color:#fff;
		line-height:55px;
		text-align:center;
	}
	.menu a.sel{
		background:url(/Application/Ch/View/Mcenter/Public/images/menu_sel.jpg) no-repeat;
		background-size:100% 100%;
	}

	.menu li{
		position:relative;
		z-index:2;
		overflow:hidden;
	}
	.menu_ul{
		width:100%;
		position:absolute;
		top:55px;
		left:0;
	}
	.menu_ul li,.menu_ul li a{
		width:100%;
		height:31px;
		line-height:31px;
		text-align:center;
		color:#fff;
		background-color:#464646;
		margin-top:1px;
		font-size:12px;
		font-family:"微软雅黑";
	}
	.menu_ul li{
		background:none;
	}
	.menu_ul li a:hover{
		background-color:#d13e53;
	}
	/*首页*/
.lunbo{
	width:1030px;
	height:667px;
	overflow:hidden;
	position:relative;
	margin-top:7px;
}
	.lunbo_ul{
		width:400%;
		height:494px;
		position:relative;
	}
	.lunbo_ul li{
		height:158px;
		float:left;
	}
	.lunbo_ul li img{
		width:1030px; height:493px;
	}
	.lunbo_left{
		position:absolute;
		top:228px;
		left:0;
		z-index:2;
		cursor:pointer;
	}
	.lunbo_right{
		position:absolute;
		top:228px;
		right:0;
		z-index:2;
		cursor:pointer;
	}
	.lunbo_xiaotu_ul{
		width:100%;
		height:158px;
		margin-top:16px;
	}
	.lunbo_xiaotu_ul li{
		margin-left:21px;
		float:left;
	}
	.lunbo_xiaotu_ul img{
		width:329px;
		height:158px;
	}
.list_div{
	width:100%;
	margin-top:61px;
	padding-bottom:29px;
	border-bottom:1px dashed #000;
}
	.list_title{
		width:100%;
		height:27px;
	}
	.list_title p{
		line-height:27px;
		text-align:center;
		
	}
	.list_title .p1{
		width:64px;
		height:27px;
		font-size:18px;
		color:#fff;
		letter-spacing:6px;
		font-family:"微软雅黑";
		background-color:#d83a44;
	}
	.list_title .p2{
		height:27px;
		font-size:30px;
		font-family:Tahoma, 微软雅黑,宋体;
	}
	.list_title .p3 a{
		color:#d83a44;
		font-family:宋体;
	}
	.list_title .p4{
		width:26px;
		height:28px;
		background:url(/Application/Ch/View/Mcenter/Public/images/list_left.jpg) no-repeat -26px 0;
		}
	.list_title .p5{
		width:26px;
		height:28px;
		background:url(/Application/Ch/View/Mcenter/Public/images/list_left.jpg) no-repeat;
	}

.list_con{
	width:1030px;
	height:460px;
	overflow:hidden;
	position:relative;
}
	.list_ul{
		width:100000px;
		margin-top:13px;
		position:absolute;
		top:0;
		left:0px;
	}
		.list_ul li{
			float:left;
			margin-left:24px;
		}
		.list_ul .img{
			width:237px;
			height:360px;
			border:1px solid #d7d7d7;
			position:relative;
			overflow:hidden;
		}
		.list_ul .img img{
			width:236px;
			height:360px;
		}
		.list_ul .img i{
			
			width:237px;
			height:360px;
		}
		.list_ul .img .xiangqing{
			position:absolute;
			bottom:-100%;
			left:0;
		}
		.list_ul .img .xiangqing_bg{
			width:237px;
			height:83px;
			position:absolute;
			bottom:0;
			left:0;
			background:#000;
			opacity:0.5;
		}
		.list_ul .img .xiangqing_a{
			width:116px;
			height:26px;
			position:absolute;
			bottom:30px;
			left:63px;
			line-height:26px;
			z-index:2;
			background:#b63f3f;
			color:#fff;
		}
		.list_ul .xiangqing_a img{
			width:13px; height:11px;
			margin:7px 10px 5px 20px;
			display:block;
			float:left;
		}
		.list_ul li .xinghao{
			width:100%;
			height:21px;
			line-height:21px;
			text-align:center;
			margin-top:10px;
			display:block;
			font-family:"宋体";
			font-size:14px;
		}
		.list_ul li .jiage{
			width:95%;
			height:24px;
			line-height:24px;
			margin:0 auto;
			text-align:center;
			color:#d83a44;
			font-family:"微软雅黑";
			font-size:14px;
		}
/*商品列表*/
.list_page{
	width:100%;
	height:94px;
	margin-top:33px;
	margin-bottom:127px;
}
	.list_page .prev{
		display:block;
		float:right;
		width:25px;
		height:28px;
		margin-right:10px;
		background:url(/Application/Ch/View/Mcenter/Public/images/page_left.jpg) no-repeat;
		
	}
	.list_page .next{
		display:block;
		float:right;
		width:25px;
		height:28px;
		margin-left:10px;
		background:url(/Application/Ch/View/Mcenter/Public/images/page_right.jpg) no-repeat;
	}
	.list_page ul li{
		width:36px;
		height:28px;
		float:left;
		margin-left:3px;
		line-height:28px;
		text-align:center;
	}
	.list_page ul li b{
		width:1px;
		height:13px;
		background:#000;
		margin-top:8px;
		float:left;
		display:block;
	}
	.list_page ul li a{
		width:28px;
		height:28px;
		float:left;
		display:block;
		margin-left:3px;
		margin-right:3px;
		font-size:13px; font-family:"宋体";
	}
	.list_page ul li.sel a{
		background:#000;
		color:#fff;
	}
/*登录*/
.denglu_div{
	width:417px;
	height:432px;
	margin:0 auto;
	margin-top:40px;
	position:relative;
}
	.denglu_div .title{
		width:401px;
		height:56px;
		background-color:#464646;
		line-height:56px;
		font-size:30px;
		font-family:"微软雅黑";
		text-align:center;
		color:#fff;
		margin:0 auto;
	}
	.denglu_con .bg{
		width:8px;
		height:508px;
	}
	.denglu_con .center{
		width:293px;
		height:317px;
		margin:0 auto;
		padding:38px 0 0 38px;
	}
	.denglu_con .center p{
		height:34px;
		line-height:34px;
		font-family:"宋体";
		font-size:14px;
	}
	.denglu_con .center input{
		width:298px;
		height:31px;
		border:1px solid #d7d7d7;
	}
	.denglu_con .center .jixugouwu{
		width:132px;
		height:39px;
		background:url(/Application/Ch/View/Mcenter/Public/images/jixugouwu2.jpg) no-repeat;
		border:none;
		cursor:pointer; margin-top:36px;
	}
/*注册*/
.zc .jiange{
	width:100%;
	height:46px;
	border-bottom:1px dashed #464646;
}
.zc .top_div{
	width:317px;
	height:56px;
	background-color:#464646;
	line-height:16px;
	float:left;
}
.zc .top_div img {
	margin:13px 27px 0 29px;
	display:block;
	float:left;
}
.zc .top_div span{
	color:#fff;
	font-size:30px;
	float:left;
	line-height:56px;
	font-weight:800;
}
.zc .top_p{
	float:left;
	padding:40px 0 0 10px;
	color:red;
}
.zc .left,.zc .right{
	width:50%;
}
.zc_con{
	width:450px;
	display:block;
	border:none;
	color:#1a1a1a;
	font-size:14px;
	font-family:"宋体";
	margin-left:100px;
}
	.zc_con input{
		line-height:30px;
	}
	
	.zc_con p{
		height:38px;
		line-height:36px;
	}
	.zc_con input{
		width:390px;
		height:30px;
	}
	.zc_con span{
		color:red;
		font-size:12px;
		margin-left:10px;
	}
	.zc_con input{
		width:331px;
		padding-left:5px;
	 }
	.zc_con .yz_lab{
		display:block;
	}
	.zc_con .yz_inp{
		display:block;
		width:137px;
		height:31px;
	}
	.zc_con .yz_img{
		display:block;
		width:100px;
		height:30px;
		margin-left:15px;
	}
.zc .right .right_div{
	width:291px;
	height:934px;
	padding-left:104px;
	border-left:1px dashed #464646;
	margin-left:143px;
	margin-top:46px;
}
/*购物车*/
.gouwuche_h1{
	width:139px;
	height:38px;
	border-right:1px solid #d6a0a0;
	background-color:#a83535;
	line-height:38px;
	margin-top:35px;
	font-size:18px; font-family:"微软雅黑"; color:#fff;
}
	.gouwuche_h1 img{
		margin:10px;
	}
	.gouwuche_tab{
		margin:0 auto;
		width:1030px;
		margin-top:6px;
	}
	.gouwuche_tab th{
		width:1030px;
		height:38px;
		background:#464646;
		border:none;
		text-align:center;
		color:#fff;
		font-family:"宋体";
		font-size:14px;
		font-weight:600;
	}
	.gouwuche_tab tr{
		text-align:center;
		border-bottom:1px dashed #464646;
	}
	.gouwuche_tab td{
		padding:8px 0;
		font-family:"宋体";
		font-size:14px;
	}
	.gouwuche_tab tr textarea{
		width:140px;
		height:99px;
		border:1px solid #c7c7c7;
		resize:none;
	}
	.gouwuche_tab input{
		text-align:center;
		border:none
	}
	.gouwuche_tab .td2 input{
		width:100px;
	}
	.gouwuche_tab .td3 input{
		width:78px;
	}
	.gouwuche_tab .td4 input{
		width:78px;
	}
	.gouwuche_tab .td5 input{
		width:80px;
		line-height:25px;
		text-align:left;
	}
	.gouwuche_tab .td7 textarea{
		resize:none;
	}
	.gouwuche_tab .td8 input{
		width:54px;
		line-height:25px;
		text-align:left;
	}
	.gouwuche_tab .num{
		width:66px;
		height:26px;
		margin:0 auto;
		border:1px solid #ccc;
	}
	.gouwuche_tab .num a{
		font-size:22px;
		width:26px;
		height:26px;
		display:block;
		line-height:26px;
		background-color:#ededed;
	}
	.gouwuche_tab .num input{
		width:42px;
		height:24px;
		border:none;
		text-align:center;
	}
	.gouwuche_tab .del a{
		color:#a83535;
	}
	
	.zongjine{
		width:98%;
		height:86px;
		background-color:#dcdcdc;
		text-align:right;
		line-height:86px;
		padding-right:2%;
		margin-top:5px;
		font-family:"微软雅黑";
	}
	.zongjine .money span{
		color:#ac3131;
		font-size:18px;
		font-weight:600;
	}
	.gouwuche .jiesuan{
		text-align:right;
		margin-top:10px;
	}
	.gouwuche .jiesuan_dizhi_phone{
		width:90px;
	}
	.gouwuche .jiesuan_dizhi_youbian{
		width:60px;
	}
	.gouwuche .jiesuan a{
		display:block;
		float:right;
		margin-right:20px;
	}
	
/*购物车结算*/	
	.xuanzedizhi{
		width:159px;
		height:38px;
		background:#a83535;
		color:#fff;
		display:block;
		line-height:38px;
		font-size:18px;
		font-family:"微软雅黑";
	}
	.tanchu.zc_con{
		z-index:10;
		width:365px;
		position:absolute;top:100px;left:50%;
		margin-left:-180px;
		border:2px solid #ccc;
		padding:10px;
		display:none;
		background:#fff;
		
	}
	.zc_con_tianjiadizhi{
		position:relative;
		top:0px;
		left:0px;
		width:100px;
		height:30px;
		background:#a83535;
		color:#fff;
		text-align:center;
		line-height:30px;
	}
	.zc_con_close{
		position:absolute;
		top:10px;
		right:10px;
		width:100px;
		height:30px;
		background:#a83535;
		color:#fff;
		text-align:center;
		line-height:30px;
	}
	.tianjiadizhi{
		color:#a83535;
		font-size:14px;
		font-family:"宋体";
		float:right;
	}
	.dizhi_set{
		font-weight:800;
		text-align:left;
	}
	.zongjine_m{
		width:800px;
		height:85px;
		line-height:40px;
	}
	.zongjine_m .p1{
		width:500px;
		height:20px;
		line-height:20px;
		line-height:40px;
		margin-top:20px;
		text-align:right
	}
	.zongjine_m .p2{
		font-size:24px;
		font-family:"宋体";
		color:#cb0101;
	}
	.zongjine_a{
		width:132px;
		height:38px;
		margin-top:26px;
		background:url(/website/Tpl/Default/Public/images/lijijiesuan.jpg) no-repeat;
		margin-left:30px;
		margin-right:20px;
		cursor:pointer;
	}
	.zongjine .p2 input{
		width:40px;
		border:none;
		background-color:transparent;
		font-size:24px;
		font-family:'宋体';
		color:#cb0101;
	}

/*商品详情*/	
.cur_pos{
	height:38px;
	border:1px dashed #464646;
	border-left:none;
	border-right:none;
	text-align:right;
	line-height:38px;
	margin-top:23px;
}
	.xiangqing{
		position:relative;
	}
	.xiangqing .left{
		width:895px;
		margin-top:23px;
	}
	.xiangqing .photo img{
		width:479px;
		height:727px;
		border:7px solid #d7d7d7;
	}
	.xiangqing .select_ul{
		margin-left:42px;
	}
	.xiangqing .select_ul li{
		width:319px;
		font-size:14px;
		font-family:"宋体";
	}
	.xiangqing .select_ul .li1{
		height:30px;
		line-height:30px;
		margin-top:70px;
		font-size:18px;
		font-family:"微软雅黑";
	}
	.xiangqing .select_ul .li2{
		height:24px;
		line-height:24px;
		padding-bottom:13px;
		font-size:18px;
		font-family:"微软雅黑";
		border-bottom:1px dashed #464646; color:red;
	}
	.xiangqing .select_ul .li3 .l{
		width:70px;
		line-height:42px;
		text-align:right;
	}
	.xiangqing .select_ul .li3 .r{
		margin-left:22px;
		line-height:42px;
		text-align:left;
	}
	.xiangqing .select_ul .li8{
		padding-bottom:65px;
		border-bottom:1px dashed #464646;
	}
	.xiangqing .select_ul .li9 input{
		width:187px;
		height:39px;
		background:url(/Application/Ch/View/Mcenter/Public/images/jiarugouwuche.jpg) no-repeat;
		border:none;
		cursor:pointer;
		margin-top:40px;
	}
	.select_ul .chima{
		width:136px;
	}
	.select_ul .chima label{
		float:left;
		margin-left:5px;
		margin-top:8px;
	}
	.select_ul .chima label input{
		display:none;
	}
	.select_ul .chima p{
		width:26px;
		height:26px;
		float:left;
		border:1px solid #bbb;
		line-height:26px;
		text-align:center;
	}
	.select_ul .chima p.sel{
		border:2px solid #ac3131;
		height:24px;
	}
	.select_ul .li3 .chima p{
		width:220px;
		text-align:left;
		border:none;
	}
	.select_ul .num{
		width:102px; height:26px; border:1px solid #ccc;
	}
	.select_ul .num a{
		font-size:22px;
		width:26px;
		height:26px;
		display:block;
		line-height:26px;
		background-color:#ededed;
		text-align:center;
	}
	.select_ul .num input {
		width:40px;
		height:24px;
		border:none;
		text-align:center;
	}
	.zhanshi{
		width:100%;
	}
	.zhanshi .title{
		height:45px;
		line-height:45px;
		border:1px dashed #464646;
		border-left:none;
		border-right:none;
		margin-top:26px;
		font-size:16px;
		font-family:"微软雅黑";
	}
	.zhanshi_div{ width:895px;overflow-x: hidden;}
	.zhanshi_div img{ margin:0 auto; display:block;}
	.xiangqing .right{
		width:124px;
		border-left:1px solid #dadada;
		margin-top:23px;
		background-color:#b1b1b1;
		padding:0 5px 5px 5px;
	}
	.xiangqing .right .h1{
		width:95px;
		height:26px; line-height:26px;
		font-size:16px; 
		font-family:"微软雅黑";
		margin:0 auto;
		margin-top:8px;
		color:#d83a44;
	}
	.xiangqing .right a{
		display:block
	}
	.xiangqing .right img{
		border:1px solid #c3c3c3;
	}
/*个人中心*/
.user_center .user{
	width:100%;
}
	.user_left{
		width:188px;
		height:100%;
		border-left:1px solid #bababa;
		border-right:1px solid #bababa;
	}
	.user_left p {
		width:168px;
		height:25px;
		line-height:25px;
		padding-left:20px;
	}
	.user_left p.h1{
		height:38px;
		margin-top:37px;
		line-height:38px;
		background-color:#464646;
		text-align:left;
		font-size:14px;
		color:#fff;
	}
	.user_left a{
		width:168px;
		padding-left:20px;
		height:30px;
		line-height:30px;
		display:block;
	}
	.user_left a.sel{
		color:#a83535;
		font-family:"宋体";
		font-size:14px;
		font-weight:800;	
	}
	.user_right{
		width:790px;
		margin-left:21px;
	}
	.user_right .title{
		height:60px;
		line-height:60px;
		text-indent:30px;
		font-size:18px;
		border-bottom:1px dashed #464646;
		color:#a83535;
		margin-top:20px;
	}
	.user_index_right{
		width:790px;
		margin-left:21px;
	}
	.user_index_right .title{
		height:60px;
		line-height:60px;
		text-indent:30px;
		font-size:18px;
		border-bottom:1px dashed #464646;
		color:#a83535;
		margin-top:20px;
	}
	.user_index_right p{
		height:50px;
		line-height:50px;
	}
	/*收货地址*/
	.harvest .tianjia{
		width:100px;
		height:38px;
		margin:35px 0 6px 0;
		background-color:#a83535;
		display:block;
		line-height:38px;
		text-align:center;
		font-size:14px;
		color:#fff;
		cursor:pointer;
	}
	.harvest_tab{
		margin-bottom:5px;
		width:100%;
		text-align:center;
	}
	.harvest_tab th{
		background-color:#464646;
		color:#fff;
	}
	.harvest_tab td{
		height:94px;
		padding:5px 0 5px;
		border-bottom:1px dashed #464646;
	}
	.harvest_tab td.chec input{
		margin-top:51px;
		display:block;
		 float:left;
	}
	.harvest_tab a{
		display:block;
		height:22px;
	}

	.tianjia{
		width:100px;
		height:38px;
		margin:35px 0 6px 0;
		background-color:#a83535;
		display:block;
		line-height:38px;
		text-align:center;
		font-size:14px;
		color:#fff;
		cursor:pointer;
	}
	._con{
		margin-top:52px;
		position:absolute;
		top:0;left:50%;
		margin-left:-200px;
		z-index:555;
		background:#fff;
		padding:20px;
		border:2px solid #ccc;
		display:none;
	}
	/*底部*/
.foot{
	width:100%;
	height:333px;
	background-color:#1a1a1a;
	margin-top:52px;
}
.foot_mar{
	width:100%;
	height:68px;
}
.foot_con{
	width:1030px;
	margin:0 auto;
	position:relative;
}
.foot_div1{
	width:248px;
	height:172px;
	border-right:1px solid #000;
	margin-left:16px;
}
.foot_div1 p{
	margin-left:37px;
	font-family:"宋体";
	color:#6d6d6d;
}
.foot_div1 .p1{
	font-size:24px;
}
.foot_div1 .p2{
	font-size:12px;
}
	
.foot_div2{
	width:161px;
	height:265px;
	text-align:right;
}
.foot_div2 dt{
	font-size:14px;
	height:30px;
	line-height:30px;
	position:relative;
	left:-10px;
}
.foot_div2 dd{
	height:21px;
	line-height:21px;
	list-style-type:square;
}
.foot_div2 a{
	color:#6d6d6d;
}
.foot_banquan{
	width:100%;
	height:61px;
	background-color:#000;
	color:#fff;
}
.banquan_p{
	width:1030px;
	height:61px;
	line-height:62px;
	text-align:left;
	margin:0 auto;
}
.back_top{
	position:absolute;
	top:-128px;
	right:-50px;;
	}