<script src="__PUBLIC__/dwz/js/jquery-1.7.1.js" type="text/javascript"></script>  
	<script type="text/javascript" charset="utf-8">
			//第一步 定义一个全局路径 
			window.UEDITOR_HOME_URL = "/Public/ueditor/"; 
			//第二步 加载所需要的JS文件（2个）
		</script>
		<script src="/Public/ueditor/editor_all.js" type="text/javascript"></script>
		<script src="/Public/ueditor/editor_config.js" type="text/javascript"></script>  
  
<style>
	.reply{
		width:700px;
		height:600px;
		position:fixed;
		top:50%;
		left:50%;
		margin-left:-320px;
		margin-top:-145px;
		background:#fff;
		border:1px solid #ccc;
		display:none;
		z-index:4;
	}
	.areply{
		width:700px;
		height:400px;
		position:fixed;
		top:50%;
		left:50%;
		margin-left:-320px;
		margin-top:-145px;
		background:#fff;
		border:1px solid #ccc;
		display:none;
		z-index:4;
	}
	.cha{
		float:right;
	}
	.wai{
		width:100%;
		height:400px;
		background:pink;
		border:1px solid black;
		margin-bottom:10px;
	}
	.zuo{
		width:15%;
		height:400px;
		background:#9BCCD8;
		float:left; 
	}
	.you{
		width:85%;
		height:400px; 
		float:right;
		overflow:hidden;
		position:relative;
	} 
	.biaoti{   
		border-bottom:1px solid #000; 
		margin-top:5px;
	} 
	.huifu{  
		position:absolute;
		bottom:5px;
		left:5px;
		border-top:1px solid #000;
		width:100%;margin-top:5px;
	}
	.addzhi,.jiuneirong{
		background:#9BCCD8;
	}
</style>
<script> 
$(function(){

$(".login").click(function(){ 
	var sessionid="{$Think.session.memberid}";
	 if(!sessionid){ 
		 $(this).removeClass("replybiaoqian huifub");
	 	alert('您没有权限发帖，请先登录！');
		$(this).attr('href','__MODULE__/Mcenter/Login/login'); 
	 }
});
$('.replybiaoqian').click(function(){ 
if($(this).attr("class").indexOf("replybiaoqian")>-1){
	$('.reply').show();
}else{
	window.location.href="__MODULE__/Mcenter/Login/login"; 
}
	
})
})

</script>


<!--回复楼主层开始-->
<div class="reply" > 
<form name="form1" action="__URL__/huifutie" method="post" onsubmit="return add();">   
	参与/回复主题  
	<img class="cha" src="/Application/Ch/View/Ltan/Public/images/cha.gif" onclick="$('.reply').hide()"/><br/>
 	re:{$tiecontent}<br/>	  
 <input type="hidden" name="tid" value="{$arr.id}" /><!--帖子id-->
 <input type="hidden" name="classID" value="{$classID}" /><!--帖子的版块id-->
 内容：	 
 <textarea id="myEditor" name="content" width="700" height="250px" >{$vo.content}</textarea>  
 <input type="submit" value="提交"/>
 <input type="reset"  value="重置"/>
 
 </form>	
</div> 
<!--回复楼主层结束--> 




<!--回复回复层开始-->
<div class="areply" > 
<form name="form1" action="__URL__/bierenhuifu" method="post" onsubmit="return addb();">   
	参与/回复主题  
	<img class="cha" src="/Application/Ch/View/Ltan/Public/images/cha.gif" onclick="$('.areply').hide()"/><br/>
 	re:{$tiecontent}  
 <input type="hidden" name="tid" value="{$arr.id}" /><!--帖子id-->
 <input type="hidden" name="huifuid" id="huifuid" value="" /><!--当前回复的id-->
 <input type="hidden" name="classID" value="{$classID}" /><!--帖子的版块id--><!--所回复楼层的内容-->
 	<div id="huifucon" style="background:#C2DAA0;"> 
 	</div> 
<input type="hidden" name="huifucon" id="huifuinput"  value=""/>
 内容：	 
 <textarea id="Editor" name="content" width="700" height="250px" >{$vo.content}</textarea>  
 <input type="submit" value="提交"/>
 <input type="reset"  value="重置"/>
 
 </form>	
</div> 
<!--回复回复楼主层结束--> 

<br/><br/> 
<a  href="__URL__/fatie/classID/{$classID}" ><img src="/Application/Ch/View/Ltan/Public/images/post.png"   class="login abiaoqian"/></a>
<img  src="/Application/Ch/View/Ltan/Public/images/reply.png"   class="login replybiaoqian abiaoqian"/> <br/>
<br/><br/><br/> <br/> 
<!--帖子详情开始-->
<div class="wai">
	<div class="zuo"> 
			楼主名：{$arr.mname}
	</div>
	<div class="you">
		<div class="biaoti">
		 {$arr.title} 
		</div>
		<div class="neirong">
        {$arr.content} 
		</div>
		<div class="huifu">  
		<a   class="login replybiaoqian">回复</a>
		</div>
	</div>
</div> 
<!--帖子详情结束-->
 
 
<!--帖子回复开始-->
<volist name="list" id="vo"> 
<div class="wai">
	<div class="zuo"> 
		用户名：{$vo.mname}
	</div>
	<div class="you">
		<div class="biaoti">
			{$vo.id} 
		</div> 
		<div style="background:#C2DAA0;">
        	{$vo.huifucon} 
		</div>
		<div class="neirong">
        	{$vo.content} 
		</div>
		<div class="huifu">  
			<input type="hidden" value="{$vo.cn}" />
			<a class="login  huifub" id="huifub_{$vo.id}">回复</a>
			<input type="hidden"   value="{$vo.mname} 发表于 {$vo.writetime|date='Y-m-d H:i:s',###} <br/>">
			<!-- <a onclick="$('.areply').show()">回复</a> -->	
		</div>
	</div>
</div>
</volist>
<!--帖子回复结束-->


<script type="text/javascript">
	//第五步 设置调用编辑器元素
		 var editorOption = {
            autoClearinitialContent:true,
            //关闭字数统计
            wordCount:false,
            //更多其他参数，请参考editor_config.js中的配置项
			initialContent:'请输入内容',
			initialFrameWidth:700 ,
			initialFrameHeight:220,
			 toolbars:[
            ['source','bold', 'italic', 'underline', 'strikethrough',  'paragraph', 'fontfamily', 'fontsize', '|',
                'link', 'unlink', 'anchor', '|',  'insertimage', 'emotion','scrawl', 'music','highlightcode','indent','justifyleft','justifycenter','justifyright','justifyjustify','snapscreen','preview','deleterow','formatmatch','searchreplace','removeformat','pastePlain','undo','cleardoc','snapscreen','selectall','autotypese','forecolor','lineheigth','touppercase','tolowercase']
        ]
        };
		//第六步实例化一个编辑器对象，并将编辑器元素配置，做为参数传入实例化方法中
        var editor_a = new baidu.editor.ui.Editor(editorOption); 
        var editor_b = new baidu.editor.ui.Editor(editorOption); 
        //第七步 直接渲染编辑器
            editor_a.render('myEditor');  
            editor_b.render('Editor');  
    </script>
 <script>
	function add(){  
		var content = editor_a.getContent();
		if(content == '' || content == '<p id="initContent">请输入内容</p>'){alert('内容不能为空');return false;} 
	}
	function addb(){  
		var content = editor_b.getContent();
		if(content == '' || content == '<p id="initContent">请输入内容</p>'){alert('内容不能为空');return false;} 
	}
	$(function(){
		$('.huifub').click(function(){
			if($(this).attr("class").indexOf("huifub")>-1){
				 $('.areply').show();
			}			
			var id = $(this).attr('id');		 
			var neirong=$(this).prev().val(); //发表的内容 
			neirong=neirong.substring(0,50);//回复太长的话切割一下； 			
			var zhi=$(this).next().val();//谁发表于什么时间 
			
			//alert(neirong)
			//alert(zhi) 
			var huifucon=zhi+neirong+'...';
			$('#huifuinput').val(huifucon);	 //post过去需要的值 
			$('#huifucon').html(huifucon);	 //post过去需要的值 
			// alert($('.huifuinput').html())
			
			var huifuid=id.split("_")[1];
			$('#huifuid').val(huifuid); 
		});
	});
		 
	 
</script>



 