* {
    margin: 0;
    padding: 0;
}

i {
    display: block;
}

.main {
    transform: perspective(600px);
}

.main .active {
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 26px;
}

.top {
    width: 100%;
    height: 100%;
    background: url("../img/10-bg.jpg") no-repeat;
    background-size: 100% 100%;
}

.load {
    width: 400px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -200px;
    color: #ffffff;
    font-size: 20px;
}

.load-img {
    width: 68px;
    height: 197px;
    margin-left: 0;
    background: url("../img/16-hd.png") no-repeat;
    background-size: 100% 100%;
}

.loading {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background: #ccc;
}

.jindu {
    display: block;
    width: 0;
    height: 100%;
    background: #C09864;
    border-radius: 10px;
}

.main {
    width: 100%;
    height: 100%;
    display: none;
}

.main > div {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.main .page1 {
    background: url("../img/1-bg.jpg") no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.title {
    position: absolute;
    left: 50%;
    top: 44px;
    background: url("../img/1-hefu.png") no-repeat;
    width: 262px;
    height: 828px;
    margin-left: -131px;
    padding-top: 48px;
    padding-left: 73px;
    box-sizing: border-box;
    opacity: 0;
}

.title1, .title2 {
    width: 55px;
    height: 0;
    overflow: hidden;
    display: inline-block;
}

.title1 {
    background: url("../img/1-zi.png") no-repeat left top;
}

.title2 {
    float: right;
    margin-right: 73px;
    background: url("../img/1-zi.png") no-repeat right top;
}

.page2 > div, .page3 > i, .page8 > div, .page9 > i {
    position: absolute;
}

.main .page2 {
    background: url("../img/1-wu.jpg") no-repeat;
    background-size: 100% 100%;
}

.leftYun {
    bottom: -812px;
    left: 0;
    width: 632px;
    height: 812px;
    background: url("../img/1-left-yun.png") no-repeat;
    background-size: 100% 100%;
}

.rightYun {
    top: -1008px;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("../img/1-right-yun.png") no-repeat;
    background-size: 100% 100%;
}

.tisi {
    position: absolute;
    top: 270px;
    left: 17px;
    width: 271px;
    height: 241px;
    background: url("../img/1-tisi.png") no-repeat;
    opacity: 0;
}

.wumai {
    width: 0;
    height: 381px;
    background: url("../img/1-wumai.png") no-repeat;
    left: 125px;
    top: 44px;
    opacity: 0;
}

.main .page3 {
    background: url("../img/2-bg.jpg") no-repeat;
    background-size: 100% 100%;
}

.emperor-speak-1 {
    opacity: 0;
    top: 91px;
    left: 10px;
    width: 329px;
    height: 287px;
    background: url("../img/2-hd-zi1.png") no-repeat;
}

.heshen-speak-1 {
    opacity: 0;
    width: 329px;
    height: 225px;
    background: url("../img/2-hs-zi2.png") no-repeat;
    right: -20px;
    top: 269px;
}

.lei {
    opacity: 0;
    top: 410px;
    left: 217px;
    width: 50px;
    height: 38px;
}

.lei .yanlei {
    position: absolute;
    top: 0;
    width: 18px;
    height: 16px;
}

.lei .leftlei {
    left: 5px;
}

.lei .rightlei {
    right: 0;
}

.lei .shui {
    position: absolute;
    top: 15px;
    left: 0;
    height: 0;
    width: 50px;
    background: url("../img/3-lei-1.png") no-repeat;
}

.main .page4, .main .page5 {
    background: url("../img/3-bg.jpg") no-repeat;
    background-size: 100% 100%;
}

.page4 > div {
    position: absolute;
    width: 83.5%;
    height: 874px;
    display: none;
    left: 8.4%;
    top: 70px;
}

.page4 .p4-2 {
    left: 100%;
}

.p4-ren {
    width: 100%;
    height: 642px;
}

.tanmu {
    position: absolute;
    width: 615px;
    height: 161px;
    top: 10px;
    left: -23px;
}

.tanmu-hd > i, .tanmu-hs > i {
    height: 36px;
    margin-top: 5px;
    margin-left: 615px;
}

.tanmu-hd > i {
    background: url("../img/3-tanmu.png") no-repeat;
}

.tanmu-hd .tan-h1 {
    margin-top: 0;
    height: 33px;
    background-position: 0 0;
}

.tanmu-hd .tan-h2 {
    background-position: 60px -34px;
}

.tanmu-hd .tan-h3 {
    background-position: 0 -82px;
}

.tanmu-hd .tan-h4 {
    background-position: 31px -124px;
}

.tanmu-hs {
    width: 665px;
    height: 163px;
}

.tanmu-hs > i {
    background: url("../img/4-tanmu.png") no-repeat;
}

.tanmu-hs .tan-s1 {
    margin-top: 0;
    background-position: 0 0;
}

.tanmu-hs .tan-s2 {
    background-position: 10px -45px;
}

.tanmu-hs .tan-s3 {
    background-position: 0 -89px;
}

.tanmu-hs .tan-s4 {
    height: 33px;
    background-position: -10px -132px;
}

.emperor-js-name {
    width: 256px;
    margin: 30px 0 0 26px;
    opacity: 0;
}

.emperor-js {
    width: 467px;
    height: 32.5px;
    margin: 0 0 0 26px;
    opacity: 0;
}

.emperor-js-1 {
    background: url("../img/3-hd-jianshao.png") no-repeat;
    background-position: top center;
    margin-top: 25px;
}

.emperor-js-2 {
    background: url("../img/3-hd-jianshao.png") no-repeat;
    background-position: bottom center;
}

.heshen-js-name {
    width: 219px;
    margin: 30px 0 0 26px;
    opacity: 0;
}

.heshen-js {
    width: 380px;
    height: 32.5px;
    margin: 0 0 0 26px;
    background: url("../img/4-heshen-jianshao.png") no-repeat;
    opacity: 0;
}

.heshen-js-1 {
    background-position: top center;
    margin-top: 25px;
}

.heshen-js-2 {
    background-position: bottom center;
}

.qian {
    position: absolute;
    left: 0;
    top: -50px;
    width: 100%;
    height: 100%;
}

.qian > img {
    position: absolute;
}

.qian-1 {
    width: 69px;
    height: 95px;
}

.qian1 {
    left: 30px;
    top: -130px;
}

.qian-2 {
    width: 103px;
    height: 63px;
}

.qian2 {
    left: 120px;
    top: -220px;
}

.qian3 {
    left: 390px;
    top: -130px;
    width: 104px;
    height: 65px;
}

.qian4 {
    left: 150px;
    top: -150px;
    width: 52px;
    height: 73px;
}

.qian5 {
    left: 250px;
    top: -180px;
    width: 100px;
    height: 86px;
}

.qian6 {
    right: 30px;
    top: -310px;
}

.qian7 {
    right: 160px;
    top: -210px;
}

.main .page6 {
    background: url("../img/5-bg.jpg") no-repeat;
    background-size: 100% 100%;
}

.page6 > img, .page6 > i {
    position: absolute;
}

.hd-6 {
    top: 507px;
    left: 150px;
}

.hs-6 {
    left: 376px;
    top: 532px;
}

.emperor-speak-2 {
    opacity: 0;
    top: 150px;
    left: 10px;
    width: 329px;
    height: 221px;
    background: url("../img/5-hd-zi2.png") no-repeat;
}

.heshen-speak-2 {
    opacity: 0;
    width: 329px;
    height: 271px;
    background: url("../img/5-hs-zi1.png") no-repeat;
    right: -20px;
    top: 297px;
}

.main .page7 {
    overflow: hidden;
    background: #8d1c21;
    width: 100%;
    height: 100%;
    position: relative;
}

.page7 > img, .p14-2 > img {
    display: none;
    height: 100%;
    width:100%;
    position: absolute;
    left: 0;
    top: 0;
}

.page7 .zhuyi {
    display: block;
    width: 277px;
    height: 131px;
    margin: 440px 0 0 180px;
}

.page7 .guang {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/7-guang.png") no-repeat;
    transform: scale(2);
    background-size: 100% 100%;
}

.page7 .p-7 {
    width: 100%;
    height: 100%;
}

.main .p8-bg1 {
    background: #d4d6d6;
}

.page8 .leftYun {
    bottom: 0;
}

.page8 .rightYun {
    top: 0;
}

.title-8 {
    width: 120px;
    height: 744px;
    left: 50%;
    margin-left: -60px;
    top: 50%;
    margin-top: -372px;
}

.title1-8, .title2-8 {
    position: absolute;
    top: 0;
    width: 56px;
    height: 0;
    overflow: hidden;
    display: inline-block;
}

.title1-8 {
    left: 0;
    background: url(../img/8-zi.png) no-repeat left top;
}

.title2-8 {
    right: 0;
    background: url(../img/8-zi.png) no-repeat right top;
}

.main .page9, .main .p8-bg2 {
    background: url("../img/8-bg.jpg");
    background-size: 100% 100%;
}

.main .page9 {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.page9 > i {
    opacity: 0;
}

.emperor-speak-3 {
    top: 334px;
    left: -528px;
    width: 558px;
    height: 246px;
    background: url("../img/8-hd-zi1.png") no-repeat;
}

.heshen-speak-3 {
    top: 584px;
    right: -392px;
    width: 392px;
    height: 230px;
    background: url("../img/8-hs-zi2.png") no-repeat;
}

.main .page10 {
    transform: rotateY(-90deg);
}

.page10 > div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.p10-1, .main .page11, .main .page18 {
    background: url("../img/10-bg.jpg") no-repeat;
    background-size: 100% 100%;
}

.p10-zi1, .p10-zi2, .p10-zi3 {
    position: absolute;
    opacity: 0;
    transform: scale(2);
}

.p10-zi1 {
    top: 470px;
    left: 167px;
    width: 315px;
    height: 71px;
}

.p10-zi2 {
    top: 335px;
    left: 182px;
    width: 309px;
    height: 70px;
}

.p10-2 {
    opacity: 0;
}

.p10-2 > img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.p10-bg-3 {
    transform: scale(2);
}

.p10-bg-4 {
    opacity: 0;
}

.p10-3 {
    background: url("../img/10-5.jpg") no-repeat;
    background-size: 100% 100%;
    opacity: 0;
}

.p10-zi3 {
    font-size: 65px;
    color: #f7efd5;
    font-weight: bold;
    top: 475px;
    left: 25px;
}

.page11 > div, .page12 > div, .page13 > div, .page14 > div, .page15 > div, .page18 > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.page11 .p11-1 {
    display: block;
}

.p11-1 > i {
    width: 242px;
    height: 408px;
    position: absolute;
}

.p11-1 .i1, .i4 {
    background: url("../img/11-hs-right.png") no-repeat;
}

.p11-1 .i2, .i3 {
    background: url("../img/11-hs-left.png") no-repeat;
}

.p11-1 .i1 {
    top: -408px;
    left: 0;
    transform: rotate(180deg);
}

.p11-1 .i2 {
    top: -408px;
    right: 0;
    transform: rotate(180deg);
}

.p11-1 .i3 {
    bottom: -408px;
    left: 0;
}

.p11-1 .i4 {
    bottom: -408px;
    right: 0;
}

.p11-zi1 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 416px;
    height: 363px;
    background: url("../img/11-zi1.png") no-repeat;
    margin-left: -208px;
    margin-top: -181.5px;
    transform: scale(0);
}

.p11-2 > img {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
}

.p11-bg2 {
    top: 0;
    transform: scale(0);
}

.p11-2 .p11-bg3 {
    bottom: -1050px;
}

.p11-zi {
    position: absolute;
    top: 125px;
    left: 144px;
    width: 353px;
    height: 758px;
}

.p11-zi > img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 353px;
    height: 758px;
}

.p11-zi .p11-zi2 {
    transform: scale(2);
}

.p11-zi .p11-zi3 {
    transform: scale(0);
}

.p11-3 > div {
    position: absolute;
    width: 479px;
    height: 927px;
    left: 81px;
}

.p11-3 .ma {
    top: 14px;
    transform: perspective(600px);
}

.p11-3 .ren {
    height: 853px;
    top: 89px;
}

.p11-3 .p11-ma {
    transform: rotateX(90deg);
    transform-origin: left top;
    width: 479px;
    height: 929px;
}

.p11-3 .p11-ren {
    top: 89px;
    transform: scale(0);
    width: 479px;
    height: 853px;
}

.p11-zi5, .p11-zi6 {
    position: absolute;
    bottom: 53px;
    left: 49px;
    opacity: 0;
    transform: scale(2);
}

.p11-zi5 {
    width: 375px;
    height: 375px;
}

.p11-zi6 {
    width: 376px;
    height: 379px;
}

.p11-3 .xian {
    position: absolute;
    width: 100%;
    top: 1150px;
    left: 0;
    height: 100%;
    opacity: 0;
}

.p11-3 .cbd {
    position: absolute;
    width: 525px;
    height: 216px;
    top: 402px;
    left: 57px;
    opacity: 0;
    transform: scale(3);
}

.p11-3 .yunhe {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    transform: scale(2.5);
}

.main .page12 {
    background: url("../img/10-bg.jpg") no-repeat;
    background-size: 100% 100%;
    top: 1200px;
}

.page12 .p12-1 {
    width: 100%;
    height: 623px;
    margin-top: 45px;
    display: block;
}

.p12-hd1 {
    width: 100%;
    height: 643px;
}

.p12-zi1 {
    position: absolute;
    width: 453px;
    height: 72px;
    top: 426px;
    left: 97px;
    opacity: 0;
    transform: scale(2);
}

.p12-hd2 {
    height: 100%;
    margin-left: -317px;
    width: 311px;
}

.p12-zi2 {
    position: absolute;
    width: 374px;
    height: 254px;
    top: 419px;
    left: 150px;
    opacity: 0;
    transform: scale(0);
}

.p12-3 > img {
    position: absolute;
}

.p12-guang {
    left: 0;
    top: 0;
    transform: scaleX(1);
    width: 100%;
    height: 100%;
}

.p12-hd3 {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 714px;
}

.p12-zi3 {
    left: 148px;
    top: 79px;
    opacity: 0;
    transform: scale(2);
    width: 336px;
    height: 162px;
}

.p12-4 > img {
    opacity: 0;
    position: absolute;
}

.p12-4 .p12-hs {
    opacity: 1;
    left: 675px;
    bottom: 0;
    width: 522px;
    height: 1006px;
}

.p12-4 .p12-zi4 {
    left: 17px;
    top: 388px;
    transform: scale(0);
    width: 602px;
    height: 72px;
}

.p12-4 .p12-zi5 {
    left: -573px;
    bottom: -866px;
    width: 573px;
    height: 866px;
}

.page13 > div > .p13-bg {
    height: 100%;
    width: 100%;
}

.page13 .p13-1 {
    top: -1200px;
}

.p13-zi {
    width: 93px;
}

.p13-zi1 {
    position: absolute;
    right: 51px;
    top: -606px;
    height: 606px;
}

.page13 .p13-2 {
    top: 1200px;
}

.p13-zi2 {
    position: absolute;
    left: 49px;
    bottom: -655px;
    height: 655px;
}

.page13 .p13-3 {
    left: 100%;
}

.p13-zi3 {
    position: absolute;
    right: 75px;
    bottom: -552px;
    height: 552px;
}

.page13 .p13-4 {
    left: -100%;
}

.p13-zi4 {
    position: absolute;
    left: 71px;
    top: -543px;
    height: 543px;
}

.page13 .p13-5 {
    transform: scale(0);
}

.p13-zi5 {
    position: absolute;
    left: 274px;
    top: 186px;
    height: 637px;
    opacity: 0;
}

.main .page14, .main .page15 {
    background: #000;
}

.page14 > div > img {
    position: absolute;
}

.p14-hs {
    top: -231px;
    left: -220px;
    opacity: 1;
    width: 231px;
    height: 220px;
}

.p14-bd {
    left: 81px;
    top: 150px;
    opacity: 0;
    width: 323px;
    height: 201px;
}

.p14-zi1 {
    top: 50%;
    left: 50%;
    margin-left: -84.5px;
    margin-top: -184.5px;
    opacity: 0;
    width: 167px;
    height: 369px;
}

.p15-1 > i {
    position: absolute;
}

.p15-1 .p15-i1, .p15-i4 {
    width: 233px;
    height: 275px;
    background: url("../img/15-hd-right.png") no-repeat;
}

.p15-1 .p15-i2, .p15-i3 {
    width: 225px;
    height: 258px;
    background: url("../img/15-hd-left.png") no-repeat;
}

.p15-1 .p15-i1 {
    top: -275px;
    left: -233px;
    transform: rotate(180deg);
}

.p15-1 .p15-i2 {
    top: -258px;
    right: -225px;
    transform: rotate(180deg);
}

.p15-1 .p15-i3 {
    bottom: -225px;
    left: -258px;
}

.p15-1 .p15-i4 {
    bottom: -275px;
    right: -233px;
}

.p15-zi {
    width: 525px;
    height: 49px;
    background: url("../img/15-zi1.png") no-repeat;
    opacity: 0;
}

.p15-zi1 {
    margin-top: 314px;
    margin-left: 118px;
    background-position: left top;
}

.p15-zi2 {
    margin: 34px 0 0 152px;
    transform: scale(2);
    opacity: 0;
    width: 336px;
    height: 88px;
}

.p15-zi3 {
    background-position: left bottom;
    margin-top: 42px;
    margin-left: 49px;
}

.p15-zi4 {
    margin: 30px 0 0 71px;
    transform: scale(2);
    opacity: 0;
    width: 495px;
    height: 88px;
}

.page15 .p15-2 {
    width: 1040px;
    height: 100%;
    background: url("../img/15-bg.jpg") no-repeat;
    background-size: auto 100%;
    overflow-x: hidden;
}

.page15 .p15-3 {
    background: url("../img/10-bg.jpg") no-repeat;
    background-size: 100% 100%;
}

.p15-3 > img {
    position: absolute;
}

.p15-hd {
    left: -204px;
    bottom: 0;
    z-index: 1;
    width: 204px;
    height: 593px;
}

.p15-sz {
    position: absolute;
    left: 49px;
    top: 23px;
    width: 541px;
    height: 38px;
    background: url("../img/15-jz.png") no-repeat;
}

.p15-jz {
    right: 50px;
    top: 54px;
    width: 540px;
    height: 39px;
}

.p15-tz {
    left: 287px;
    top: 590px;
    opacity: 0;
    transform: scale(2);
    width: 77px;
    height: 72px;
}

.page17 {
    background: url("../img/10-bg.jpg") no-repeat;
    background-size: 100% 100%;
}

.p17, .g17 {
    color: #f7efd5;
    font-size: 50px;
    position: absolute;
    display: inline-block;
    height: 66px;
    white-space: nowrap;
}

.p17 {
    opacity: 0.2;
}

.p17-66, .huang {
    top: 96px;
}

.p17-66 {
    right: -20px;
}

.huang {
    top: 96px;
    left: 640px;
}

.he {
    top: 280px;
    left: 980px;
}

.xiao {
    top: 385px;
    left: 1030px;
}

.shi {
    top: 516px;
    left: 808px;
}

.cheng {
    top: 686px;
    left: 1000px;
}

.xiang {
    top: 850px;
    left: 821px;
}

.page18 .p18-1 {
    left: 128px;
    top: 195px;
    width: 474px;
    height: 67px;
    background: url("../img/17-zi.png") no-repeat;
}

.p18-zi2 {
    position: absolute;
    top: 294px;
    left: 0;
    opacity: 0;
    transform: scale(2);
    width: 486px;
    height: 136px;
}

.p18-2 > img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
}

.p18-zi3 {
    width: 391px;
    height: 128px;
    margin-left: -195.5px;
    margin-top: -64px;
}

.p18-zi4 {
    width: 591px;
    height: 338px;
    margin-left: -295.5px;
    margin-top: -169px;
}

.p18-zi5 {
    width: 421px;
    height: 59px;
    margin-left: -210.5px;
    margin-top: -29.5px;
}

.p18-zi6 {
    width: 418px;
    height: 100px;
    margin-left: -209px;
    margin-top: -50px;
}

.p18-zi7 {
    width: 68px;
    height: 502px;
    margin-left: -34px;
    margin-top: -251px;
}

.page19 {
    background: url("../img/moye.jpg") no-repeat;
    background-size: 100% 100%;
}

.page19 .laidianhua {
    position: absolute;
    top: 522px;
    left: 167px;
    width: 290px;
    height: 39px;
    overflow: hidden;
    display: inline-block;
    transform: scale(1);
}

.page19 .fenxiang {
    position: absolute;
    bottom: 26px;
    left: 153px;
    width: 338px;
    height: 85px;
    overflow: hidden;
    display: inline-block;
    animation: fenxiang 0.3s linear infinite;
    -webkit-animation: fenxiang 0.3s linear infinite;
    -moz-animation: fenxiang 0.3s linear infinite;
    -ms-animation: fenxiang 0.3s linear infinite;
}

@-webkit-keyframes fenxiang {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(-3deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes fenxiang {
    0% {
        -moz-transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(-3deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@-ms-keyframes fenxiang {
    0% {
        -ms-transform: rotate(0deg);
    }
    50% {
        -ms-transform: rotate(-3deg);
    }
    100% {
        -ms-transform: rotate(0deg);
    }
}

@keyframes fenxiang {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.tank {
    width: 0;
    height: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    bottom: 110px;
    left: 320px;
    z-index: 999;
}

.tank img {
    height: 100%;
    width: 100%;
}

.musicicon {
    background: url("../img/musicicon.png") no-repeat;
    width: 42px;
    height: 43px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.musicrotate {
    -webkit-animation: xuanzhuan 5s infinite linear;
    animation: xuanzhuan 5s infinite linear;
}

@keyframes xuanzhuan {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes xuanzhuan {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}