<script src="/Application/Admin/View/Base/Public/Js/jquery.md5.js"></script>
<div class="pageContent">
	<input type="hidden" name="id" value="{$id|dowith_include}"/>
	<div class="pageFormContent" layoutH="60"> 
		<dl>
			<dt>原密码:</dt>
			<dd><input type="password" class="required" style="width:100%" name="oldpassword" id="oldpass" autocomplete="off" /></dd>
		</dl>

		<dl>
			<dt>新密码：</dt>
			<dd><input type="password" class="required" style="width:100%" name="password" id="pass" autocomplete="off" /></dd>
		</dl>
		
		<dl>
			<dt>重复新密码：</dt>
			<dd><input type="password" class="required" style="width:100%" name="repassword" id="repass" autocomplete="off" /></dd>
		</dl>
	</div>
	
	<div class="formBar">
		<ul>
			<li><div class="buttonActive"><div class="buttonContent"><button id="button_submit">保存</button></div></div></li>
			<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
		</ul>
	</div>
</div>
<script>
	$('#button_submit').click(function(){
		var oldpass = $.md5( $('#oldpass').val() )
		var pass = $('#pass').val();
		var repass = $('#repass').val();

		if( pass != repass ){
			alert('请确认两次新密码输入相同！');return false;
		}else{
			if( pass.length < 6 ){
				alert('密码长度必须大于6个字符！');return false;
			}
		}

		pass = $.md5( pass );
		$.post('/index.php/Admin/Base/Public/changePwd', {'oldpassword':oldpass, 'password':pass}, function(data){
			if(data != '正确'){
				alert(data)
			}else{
				alert('密码修改成功！');
			}
		});
	});
</script>