<include file="Emall:Public:pagerForm" />
<div class="page">
	<div class="pageHeader">
		<form onsubmit="return navTabSearch(this);" action="/index.php/Admin/Emall/Goods/index" method="post" rel="pagerForm" >
			<input type="hidden" name="pageNum" value="1" />
			<input type="hidden" name="formstatus" value="{$formstatus}" /> 
			<div class="searchBar">
				<table class="searchContent">
					<tr>
						<td>
							<b>搜索</b> &nbsp; [标题] ： <input type="text" name="keyword" size="15" value="{$keyword}" /> 
						</td>
						<td>
							<select name="bspath">
								<option value="">请选择分类</option>
								{$gclassOption}
							</select> 
						</td>
						<td>
							<select name="bID">
								<option value="">请选择品牌</option>
								{$gbrandOption}
							</select> 
						</td>
						<td>
							<select name="type">
								<option value="">请选择状态</option>
								<option value="1" <if condition="$type eq 1">selected</if> >上架</option>
								<option value="2" <if condition="$type eq 2">selected</if> >下架</option> 
								<option value="3" <if condition="$type eq 3">selected</if> >精品</option>
								<option value="4" <if condition="$type eq 4">selected</if> >新品</option>
								<option value="5" <if condition="$type eq 5">selected</if> >热销</option>
								<option value="6" <if condition="$type eq 6">selected</if> >库存不足</option>
							</select>
						</td>
						<!--查询必带参数-->
						<input type="hidden" name="classID" value="{$classID}" />
						<input type="hidden" name="w" value="{$web}" />
						<!--查询必带参数-->
						<td>
							<div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div>
						</td>
					</tr>
				</table>
			</div>
		</form>
	</div>
	
	<div class="pageContent">
		<div class="panelBar">
			<ul class="toolBar">
				<if condition="($lie.canadd eq 1) OR ($Think.session.adminuser.username eq 'developer') OR ($Think.session.adminuser.username eq 'admin')">
					<li><a class="add" href="/index.php/Admin/Emall/Goods/add/classID/{$classID}/language/{$language}/navTabId/classID{$classID}" target="navTab" title="{$classID|getNameByClassId=$classID}新增" > <span>新增商品</span></a></li> 
				</if> 
				<if condition="($lie.candel eq 1) OR ($Think.session.adminuser.username eq 'developer') OR ($Think.session.adminuser.username eq 'admin')">
					<li><a title="确实要删除这些记录吗?" target="selectedTodo" rel="id" postType="string" href="/index.php/Admin/Emall/Goods/delete/classID/{$classID}/navTabId/classID{$classID}" class="delete"><span>批量删除</span></a></li>
				</if>
			</ul>
		</div>

		<table class="list" width="100%" layoutH="116">
			<thead>
				<tr>
					<th width="5%"><input type="checkbox" group="id" class="checkboxCtrl"></th>
					<th width="5%">编号</th>
					<th width="30%">标题</th>
					<th width="10%">货号</th>
					<th width="8%">价格</th>
					<th width="6%">精品</th>
					<th width="6%">热销</th>
					<th width="6%">新品</th>
					<th width="6%">上架</th>
					<th width="6%">库存</th>
					<th width="20%">操作</th>
				</tr>
			</thead>
			<tbody>
				<volist id="vo" name="list">
					<tr target="sid_user" rel="{$vo['id']}">
						<td><input name="id" value="{$vo.id}" type="checkbox"></td>
						<td>{$vo['id']}</td>
						<td>{$vo['title']} <if condition="$vo.Indexfirst eq 1"><font color="red">（置顶）</font></if> <if condition="$vo['num'] elt $vo['warnum']"><font color="red">（库存不足）</font></if> </td>
						<td>{$vo['huohao']}</td>
						<td>{$vo['price']}</td>
						<td><if condition="$vo.is_jing eq 1">是<else />否</if></td>
						<td><if condition="$vo.is_hot eq 1">是<else />否</if></td>
						<td><if condition="$vo.is_new eq 1">是<else />否</if></td>
						<td><if condition="$vo.status eq 1">是<else /><font color="red">否</font></if></td>
						<td>{$vo['num']}</td>
						<td>
							<a href="javascript:;"><span>查看</span></a>

							<if condition="($lie.canupdate eq 1) OR ($Think.session.adminuser.username eq 'developer') OR ($Think.session.adminuser.username eq 'admin')">
								<a class="edit" href="/index.php/Admin/Emall/Goods/edit/id/{$vo['id']}/classID/{$classID}/navTabId/classID{$classID}" target="navTab" title="商品编辑"><span>编辑</span></a>
							</if>

							<if condition="($lie.canadd eq 1) OR ($Think.session.adminuser.username eq 'developer') OR ($Think.session.adminuser.username eq 'admin')">
								<a class="edit" href="/index.php/Admin/Emall/Goods/copy/id/{$vo['id']}/classID/{$classID}/language/{$language}/navTabId/classID{$classID}" target="navTab" title="商品复制"><span>复制</span></a>
							</if>

							<if condition="($lie.candel eq 1) OR ($Think.session.adminuser.username eq 'developer') OR ($Think.session.adminuser.username eq 'admin')">
								<a class="delete" href="/index.php/Admin/Emall/Goods/delete/id/{$vo['id']}/navTabId/classID{$classID}" target="ajaxTodo" title="你确定要删除吗？" ><span>删除</span></a>
							</if>  
						</td>
					</tr>
				</volist>
			</tbody>
		</table>

		<div class="panelBar">
			<div class="pages">
				<span>显示</span>
				<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
					<option value="10" <if condition="$numPerPage eq 10">selected</if> >10</option>
					<option value="15" <if condition="$numPerPage eq 15">selected</if> >15</option>
					<option value="20" <if condition="$numPerPage eq 20">selected</if> >20</option>
					<option value="25" <if condition="$numPerPage eq 25">selected</if> >25</option>
					<option value="30" <if condition="$numPerPage eq 30">selected</if> >30</option>
				</select>
				<span>共{$totalCount}条</span>
			</div>
			<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
		</div> 
	</div> 
</div>