<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>商城-订单提交成功</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="/Application/Ch/View/Mcenter/Public/css/dgg.css" />
<script src="__PUBLIC__/dwz/js/jquery-1.7.1.js" type="text/javascript"></script>
<style type="text/css">
.denglu_div{ margin-top:108px; margin-bottom:270px;}
.denglu_div .bg img{ height:357px;}
.denglu_con p,.denglu_con a{ font-size:16px; font-family:"宋体";line-height:28px; height:28px; text-align:center;}
.denglu_con p{color:#ac3131; }
.denglu_con a{ color:#000; display:block; text-align:center;}
.denglu_con img{ display:block;margin:0 auto;}
.denglu_foot{ width:401px; height:17px; background:#464646; margin:0 auto;}
</style>
</head>
<body>
<div class="zong index"> 
    <div class="denglu_div">
    	<div class="bg fl"><img src="/Application/Ch/View/Mcenter/Public/images/denglu_left.jpg" /></div>
        <div class="bg fr"><img src="/Application/Ch/View/Mcenter/Public/images/denglu_right.jpg" /></div>
    	<p class="title">
        </p>
        <div class="denglu_con">
        	<p>恭喜您订单提交成功！</p>
            <p>我们会尽快安排采购，请耐心等待！</p>
            <p>您可登陆个人中心</p>
            <p>随时查看您的订单状态!</p>
            <img src="/Application/Ch/View/Mcenter/Public/images/chenggongtishi.png" />
            <a href="__MODULE__/Emall/Index/index">[继续购物]</a>
        </div>
        <div class="denglu_foot">
        
        
        </div>
    </div>
</div> 
</body>
</html>